* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* to make 1rem = 10px | 1rem = 16px by default */
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul>li {
  list-style: none;
}


/* Top Navigation */
nav {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 15px 7%;
  position: relative;
  z-index: 3;
}

#logo {
  width: 80px;
  height: 80px;
}

nav>ul {
  display: flex;
  align-items: center;
  color: #fff;
  width: 700px;
  justify-content: space-evenly;
}

nav>ul>li {
  cursor: pointer;
  font-size: 1.6rem;
}

nav>ul>li#active {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

nav>ul>li>button {
  background-color: #0d0;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 12px 17px;
  border-radius: 5px;
}

/* End of top navigation */

/* Showcase */
#showCase {
  background-image: url("../assets/images/team_pictures/showcaseImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 120vh;
}

/* Allow all elements inside showcase over the overlay */
#showCase>* {
  position: relative;
  z-index: 2;
}

#showCase::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 120vh;
  width: 100%;
  z-index: 1;
}

/* Assigning a white color to all the elements inside the showcase-mainText */
.showcase-mainText>* {
  color: #fff;
}

.showcase-mainText {
  /* dynamic width */
  width: fit-content;
  margin-top: 260px;
  margin-left: 100px;
}

.showcase-mainText>h1 {
  font-size: 6.3rem;
}

.showcase-mainText>h1#showcase-techJobs {
  margin-top: -15px;
  font-weight: normal;
}

.showcase-mainText>p {
  margin-top: 25px;
  font-size: 2.7rem;
  margin-bottom: 35px;
  line-height: 40px;
}

.showcase-mainText>button {
  background-color: #0d0;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* End of showcase */

/* Statistics styling */
#statistics {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  width: 76%;
  margin: auto;
}

#statistics>.stat-item {
  text-align: center;
  padding-bottom: 115px;
}

#statistics>.stat-item>h1:first-child {
  color: #18ea19;
  font-size: 5.8rem;
  padding-bottom: 40px;
}

#statistics>.stat-item>h1:not(firstchild) {
  font-size: 2.5rem;
}

/* End of statistics */

/* skills styling */
#skills {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  margin-bottom: 90px;
}

#skills>img {
  height: 42%;
  width: 42%;
}

#skills>.skills-text {
  margin-left: 100px;
}

#skills>.skills-text>.skills-left>h1 {
  font-size: 5rem;
  margin-left: -40px;
}

#skills>.skills-text>.skills-left>h1:first-child {
  font-weight: normal;
}

#skills>.skills-text>.skills-left>#skills-inBetween {
  margin-top: -10px;
  margin-bottom: 30px;
}

#skills>.skills-text>.skills-right>p {
  margin: 1.6rem 0;
  font-size: 2.7rem;
  line-height: 40px;
}

#skills>.skills-text>.skills-right>a {
  color: #18ea19;
  text-decoration: none;
  border-bottom: #18ea19 solid 1px;
  font-size: 2.2rem;
}

/* End of skills section */

/* programs section styling */
#programs {
  background-color: #18ea19;
  padding: 0 7vw;
  height: 100vh;
}

#programs>.program-title {
  color: #fff;
  line-height: 1.196;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 50px;
}

#programs>.program-title>h2 {
  font-weight: normal;
}

#programs>.program-img {
  display: flex;
  justify-content: center;
}

#programs>.program-img>img {
  width: 34%;
  padding: 20px 15px;
  cursor: pointer;
}

/* end of program styling */

/* Market-ready section styling */
#market-ready {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  padding: 0 5px;
  margin-bottom: 90px;
}

#market-ready>img {
  height: 42%;
  width: 42%;
}

#market-ready>.market-text {
  margin-left: 100px;
}

#market-ready>.market-text>.market-left>h1 {
  font-size: 5rem;
  margin-left: -40px;
}

#market-ready>.market-text>.market-left>h1:first-child {
  font-weight: normal;
}

#market-ready>.market-text>.market-left>#market-inBetween {
  margin-top: -10px;
  margin-bottom: 30px;
}

#market-ready>.market-text>.market-right>p {
  margin: 1.6rem 0;
  font-size: 2.7rem;
  line-height: 40px;
}

#market-ready>.market-text>.market-right>a {
  color: #18ea19;
  text-decoration: none;
  border-bottom: #18ea19 solid 1px;
  font-size: 2.2rem;
}

/* end of market-ready style section */

/* content wrapper one */
#wrapper-one {
  text-align: center;
  padding: 0 7vw;
}

#wrapper-one>.text>h4 {
  padding: 0 15vw;
  font-weight: normal;
  color: #000;
  font-size: 3.5rem;
  padding-top: 50px;
}

#wrapper-one>.text>p {
  padding: 17px 0;
  font-size: 1.6rem;
}

#wrapper-one>img {
  padding-top: 20px;
  height: 100%;
  width: 100%;
}

/* end of content wrapper one */

/* review section */
#review {
  text-align: center;
  padding: 0 14.5vw;
  padding-top: 60px;
}

#review>img {
  height: 100%;
  width: 80%;
  padding-bottom: 12px;
}

/* end of review section */

/* In the media section */
#in-the-media {
  background-color: #e6e6e6;
  padding: 0 5.4vw;
  padding-bottom: 42px;
}

#in-the-media>.media-title {
  text-align: center;
  font-size: 3.7rem;
  padding-top: 50px;
  padding-bottom: 20px;
}

#in-the-media>.media-partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#in-the-media>.media-partners>div>img {
  width: 310px;
  height: 100%;
  padding: 17px 0;
}

/* end of in the media section */

/* Funding Partners Section */
#funding-partners {
  padding: 0 5.4vw;
  padding-bottom: 22px;
  text-align: center;
}

#funding-partners>.funding-title {
  text-align: center;
  font-size: 3.7rem;
  padding-top: 50px;
  padding-bottom: 38px;
}

#funding-partners>.funding-img>img {
  height: 100%;
  width: 97%;
  padding-bottom: 12px;
}

/* end of funding partners section */

.horizontal-rule {
  padding: 0 7vw;
  color: #000;
}

/* strategic partners section */
#strategic-partners {
  padding: 0 5vw;
  padding-bottom: 22px;
  text-align: center;
}

#strategic-partners>.strategic-title>h3 {
  text-align: center;
  font-size: 4rem;
  padding-top: 40px;
  padding-bottom: 38px;
}

#strategic-partners>.strategic-img {
  display: flex;
  justify-content: space-evenly;
}

#strategic-partners>.strategic-img>img {
  object-fit: cover;
  width: 14%;
  padding: 20px 12px;
  margin-bottom: 10px;
}

/* end of strategic partners section */

/* subscribe section */
#subscription {
  background-color: #e6e6e6;
  text-align: center;
}

#subscription>.subs-title>h3 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: normal;
  padding-top: 43px;
  padding-bottom: 38px;
}

#subscription>button {
  padding: 1rem 1.6rem;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.4em;
  border-radius: 7px;
  margin-bottom: 70px;
}

/* end of subscription session */

/* footer */
#footer-id {
  padding: 0 7vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
}

#footer-id>.privacy>p>a {
  color: #18ea19;
  padding: 40px 0;
  padding-left: 20px;
  font-size: 1.7rem;
  text-align: center;
}

#footer-id>div>p {
  color: #fff;
  padding: 40px 0;
  padding-left: 20px;
  font-size: 1.6rem;
}

#footer-id>.footer-logo>ul {
  display: flex;
  justify-content: space-evenly;
}

#footer-id>.footer-logo>ul>li {
  padding: 40px 10px;
  font-size: 23px;
}

#footer-id>.footer-logo>ul>li>a {
  color: #fff;
}

#footer-id>.footer-logo>ul>li>a:hover {
  color: rgba(150, 150, 150, 0.5)
}

/* End of footer */

/* Responsiveness */
@media screen and (max-width: 825px) {
  #showCase>nav>ul {
    visibility: hidden;
  }
}

@media screen and (max-width: 750px) {
  #statistics {
    flex-direction: column;
  }

  #skills,
  #market-ready {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  #skills>img,
  #market-ready>img {
    width: 100%;
    padding: 5%;
  }
}